body {
    background-image: url("../images/map_compass.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #beb297;
}

body.mainBody {
    background-image: url("../images/old_map.jpg");
}

body.pathFinderBody {
    background-image: url("../images/map_compass.jpg");
}

body.errorBody {
    background-image: url("../images/error.jpg");
}

h1 {
    font-size: 150%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #3a352a;
    text-align: center;
}

span {
    background: rgba(149, 119, 67, 0.6);
    padding: 7px;
    border-radius: 5px;
    color: #FAEBD7;
    border-color: rgba(149, 119, 67, 0.6);
    border-style: ridge;
}

h2 {
    font-size: 120%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #3a352a;
    text-align: left;
    padding-left: 20px;
}

h2.pathFinderResult {
    background-color: rgba(216, 210, 194, 0.6);
    position: absolute;
    right: 30%;
    margin-left: -40%;
    width: 30%;
    font-size: 120%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #3a352a;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    border-color: rgba(216, 210, 194, 0.6);
    border-style: ridge;
}

h2.errorMessage {
    background-color: rgba(216, 210, 194, 0.6);
    position: absolute;
    right: 30%;
    margin-left: -30%;
    width: 40%;
    font-size: 120%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #3a352a;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    border-color: rgba(216, 210, 194, 0.6);
    border-style: ridge;
}

h3 {
    font-size: 100%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #3a352a;
    text-align: left;
    padding-left: 20px;
}


a {
    font-size: 100%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #3a352a;
}

input {
    font-size: 100%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    padding-left: 5px;
    color: #3a352a;
    background-color: rgba(216, 210, 194, 0.6);
    border-radius: 5px;
    border-color: rgba(216, 210, 194, 0.6);
    border-style: ridge;
    text-align: left;
    width: 25%;
}

input.push {
    width: 98px;
    font-size: 90%;
    color: #FAEBD7;
    background-color: rgba(58, 53, 42, 0.7);
}

input.push:active {
    color: #3a352a;
    background-color: rgba(216, 210, 194, 0.7);
}
