<#import "common.ftlh" as c>
<#import "pathFinderFromUserFileCommon.ftlh" as f>
<title>PathFinderFromUserFile</title>
<@c.page>
    <@f.filePage>
        <h2 class="pathFinderResult">Пройденный путь составил: <br><br> ${calculatedPath}</h2>
    </@f.filePage>
</@c.page>