<#import "common.ftlh" as c>
<title>PathFinderFromCoords</title>
<@c.page>
    <#macro coordsPage>
    <body class="pathFinderBody"></body>
    <h1>Вычисление пройденного пути по координатам</h1>
        <#nested>
    <form action="/pathFinderFromCoords/setCoords" method="post">
        <br>
        <br>
        <h2>Ввод координат (градусы с десячной дробью):</h2>
        <br>
        <h2><label for="lat1">широта первой точки</label></h2>
        <h3><input id="lat1" name="lat1" placeholder="0.0" required
                   pattern="^[-0-9]*[.]?[0-9]+$" type="number" step="0.000001" value="0.0" min="-90.0" max="90.0"></h3>
        <h2><label for="lon1">долгота первой точки</label></h2>
        <h3><input id="lon1" name="lon1" placeholder="0.0" required
                   pattern="^[-0-9]*[.]?[0-9]+$" type="number" step="0.000001" value="0.0" min="-180" max="180.0"></h3>
        <h2><label for="lat2">широта второй точки</label></h2>
        <h3><input id="lat2" name="lat2" placeholder="0.0" required
                   pattern="^[-0-9]*[.]?[0-9]+$" type="number" step="0.000001" value="0.0" min="-90.0" max="90.0"></h3>
        <h2><label for="lon2">долгота второй точки</label></h2>
        <h3><input id="lon2" name="lon2" placeholder="0.0" required
                   pattern="^[-0-9]*[.]?[0-9]+$" type="number" step="0.000001" value="0.0" min="-180" max="180.0"></h3>
        <h2><input type="submit" value="Выполнить" class="push"></h2>
    </form>

    <br>
    <h2><a href="/">Главная страница</a></h2>
    </#macro>
</@c.page>